<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">JobScheduler</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="jobs">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Jobs
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="groups">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Groups
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="nodes">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Nodes
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Admin, Editor">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="schedules">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Schedules
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="administration">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Administration
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
